@model List<RAI_MVC.vw_RAILoans>
@using RAI_MVC
@{
    ViewBag.Title = "Loans";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}   <div>
    @using (Html.BeginForm())
    {
       
        <div class="form-group col-lg-2">
            @Html.Label("Status", new { @class = "control-label" })
            @Html.DropDownList("StatusSelectListItems", (SelectList)ViewBag.StatusSelectListItems, "-- Select --", new { id = "StatusSelectListItems", @class = "form-control" })
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Entities", new { @class = "control-label" })
            @Html.DropDownList("EntitiesSelectListItems", (SelectList)ViewBag.EntitiesSelectListItems, "-- Select --", new { id = "EntitiesSelectListItems", @class = "form-control" })
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Clients", new { @class = "control-label" })
            @Html.DropDownList("ClientsSelectListItems", (SelectList)ViewBag.ClientsSelectListItems, "-- Select --", new { id = "ClientsSelectListItems", @class = "form-control" })
        </div>
        <div class="form-group col-lg-2">
            @Html.Label("Show Completed?", new { @class = "control-label" })
            @Html.CheckBox("chkShowCompleted")
        </div>

        <div class="form-group col-lg-2">
            @Html.Label("Search Text")
            @Html.TextBox("SearchText")
        </div>
        <div class="form-group col-lg-1">
            @Html.Label("")
            <input class="btn btn-lg " type="submit" value="Search" />
        </div>
    }
</div>

        <div class="col-lg-12">
            <table class="table table-striped">
                <tr class="d-flex">
                    <th>Select</th>
                    <th>Loan ID</th>
                    <th>Funding Date</th>
                    <th>Escrow Date</th>
                    <th>Investor Proceeds Date</th>
                    <th>Loan Number</th>
                    <th class="col-lg-1">Status</th>
                    <th class="col-lg-1">Client</th>
                    <th class="col-lg-2">Mortgagee</th>
                    <th>Entity</th>
                    <th>Property Address</th>
                    <th>Mortgage Amount</th>
                    <th>Interest Rate</th>
                    <th>Investor Name</th>
                    <th class="col-lg-2">&nbsp;</th>
                </tr>
                @foreach (var entry in Model)
                {
                    <tr>

                        <td>@entry.LoanID</td>
                        <td>@String.Format("{0:MM/dd/yyyy}", entry.LoanFundingDate)</td>
                        <td>@String.Format("{0:MM/dd/yyyy}", entry.DateDepositedInEscrow)</td>
                        <td>@String.Format("{0:MM/dd/yyyy}", entry.InvestorProceedsDate)</td>
                        <td>@entry.LoanNumber</td>
                        <td>@entry.LoanStatus</td>
                        <td>@entry.ClientName</td>
                        <td>@entry.LoanMortgagee</td>
                        <td>@entry.EntityName</td>
                        <td>@entry.LoanPropertyAddress</td>
                        <td>@String.Format("{0:N}", entry.LoanMortgageAmount)</td>
                        <td>@String.Format("{0:P}", entry.LoanInterestRate)</td>
                        <td>@entry.InvestorName</td>
                        <td>
                            <div class="pull-right">
                                <a href="@Url.Action("Edit", new { id = entry.LoanID })" class="btn btn-warning btn-sm margin-right">
                                    <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = entry.LoanID })" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <script type="text/javascript">

            function SelectedIndexChanged() {
                //Form post
                document.demoForm.submit();
            }
        </script>
